<% content_for :title do %>Beatrice Curnew: Headshots and other photos<% end %>
<% content_for :description do %>Photographs of Beatrice Curnew<% end %>



<script type="text/javascript">

$.fn.preload = function() {
    this.each(function(){
        $('<img/>')[0].src = this;
    });
}



// $(['img1.jpg','img2.jpg','img3.jpg']).preload();


$(document).ready(function() {
  $('#gallery li a').click(function() {
    lh = $("#large_headshot");
    var new_image_url = this.href;
    // lh.animate( {opacity:0}, 500, function() {lh.attr("src", new_image_url); });
    // lh.animate( {opacity:1}, 300)

    lh.fadeOut(300, function() {
      lh.attr("src", new_image_url).bind("onreadystatechange load", function() {
        if (this.complete) {lh.fadeIn(300);}
      })
    })

    return false;
  });
});

</script>



<div id="content">
  <h2>Headshots</h2>
  <%= image_tag "headshots/Beatrice-Curnew-2014-1.jpg", :id=>"large_headshot", :alt=>"Beatrice Curnew", :class=>"headshot", :style=>"margin-top:3em", :width=>"100%" %>


	<center>
	  <ul id="gallery">
			<% @images.each do |i| %>
			   <li>
			     <%= (link_to image_tag("headshots/Beatrice-Curnew-2014-" + i.to_s + ".jpg", :width=>"90px", :class=>"headshot", :alt=>"Beatrice Curnew"), "/assets/headshots/Beatrice-Curnew-2014-" + i.to_s + ".jpg" )  %>
			     <script> $(["<%= "/assets/headshots/Beatrice-Curnew-2014-" + i.to_s + ".jpg" %>"]).preload();</script>
			   </li>

			<% end %>

      <br/>

      <% @screen_images.each do |i| %>
         <li>
           <%= (link_to image_tag("headshots/Beatrice-Curnew-" + i.to_s + ".jpg", :width=>"90px", :class=>"headshot", :alt=>"Beatrice Curnew"), "/assets/headshots/Beatrice-Curnew-" + i.to_s + ".jpg" )  %>
           <script> $(["<%= "/assets/headshots/Beatrice-Curnew-" + i.to_s + ".jpg" %>"]).preload();</script>
         </li>

      <% end %>
		</ul>
	</center>




</div>