


<div id="content">


<h2>Gallery</h2>


<ul id="gallery">
  <li><%= link_to image_tag("headshots/t/2.jpg"), "/images/headshots/2.jpg" %></li>
  <li><%= link_to image_tag("headshots/t/3.jpg"), "/images/headshots/3.jpg" %></li>
  <li><%= link_to image_tag("headshots/t/5.jpg"), "/images/headshots/5.jpg" %></li>
  <li><%= link_to image_tag("headshots/t/6.jpg"), "/images/headshots/6.jpg" %></li>
  <li><%= link_to image_tag("headshots/t/7.jpg"), "/images/headshots/7.jpg" %></li>
  <li><%= link_to image_tag("headshots/t/9.jpg"), "/images/headshots/9.jpg" %></li>
  <li><%= link_to image_tag("headshots/t/10.jpg"), "/images/headshots/10.jpg" %></li>
  <li><%= link_to image_tag("headshots/t/11.jpg"), "/images/headshots/11.jpg" %></li>
  <li><%= link_to image_tag("headshots/t/12.jpg"), "/images/headshots/12.jpg" %></li>
  <li><%= link_to image_tag("headshots/t/13.jpg"), "/images/headshots/13.jpg" %></li>
  <li><%= link_to image_tag("headshots/t/14.jpg"), "/images/headshots/14.jpg" %></li>
</ul>


</div>