<!DOCTYPE html>
<html>
<head>
  <title>Beatrice Curnew: Actor, voiceover artist, babe</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag 'jquery-1.4.2' %>
  <%= javascript_include_tag 'jquery.lightbox-0.5.min' %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18564556-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
  
  <div id="everything">
      

    <div id="header">            
      <header>
        <center><h1>Beatrice Curnew</h1></center>
      </header>
    </div>
    
    
        <div id="nav">
      <nav>

        <ul id="highlight_<%=@tab_highlight%>">
          <li id="home_tab"><%= link_to "Home", "index" %></li><li id="news_tab"><%= link_to "News", "news" %></li><li id="biog_tab"><%= link_to "Biog/CV", "biog" %></li><li id="gallery_tab"><%= link_to "Headshots", "gallery" %></li><li id="sound_tab"><%= link_to "Voiceclip", "sound" %></li><li id="video_tab"><%= link_to "Showreel", "video" %></li><li id="contact_tab"><%= link_to "Contact", "contact" %></li>
        </ul>


      </nav>
    </div>


    <div id="main">
			<%= yield %>
			<div style="clear:both"></div>
    </div>

  <div id=reviews>
  
    <p><%= [
      "Great *****",
      "Awesome *****",
      "Effervescent *****"
      ][rand(2)] %></p>

  </div>


	 <div id="footer">
      <footer>
	      <ul>
	        <li>&copy;2010</li>
	        <li>site by <a href="http://uk.linkedin.com/in/jwranderson">Russ Anderson</a></li>
	      </ul>

      </footer>
		</div>
  </div>
</body>

</html>
