<!DOCTYPE html>
<html>
<head>
  <title>Beatrice Curnew: Actor, voiceover artist, babe</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  <div id="everything">
    <div id="nav">
      <nav>

        <ul id="highlight_<%=@tab_highlight%>">
          <li id="home_tab"><%= link_to "home", "index" %></li><li id="news_tab"><%= link_to "news", "news" %></li><li id="biog_tab"><%= link_to "biog/CV", "biog" %></li><li id="gallery_tab"><%= link_to "headshots", "gallery" %></li><li id="sound_tab"><%= link_to "showreel/voice clip", "sound" %></li><li id="contact_tab"><%= link_to "contact", "contact" %></li>
        </ul>


      </nav>
    </div>
      

    <div id="header">            
      <header>
        <h1>Beatrice Curnew</h1>
      </header>
    </div>

    <div id="main">
			<%= yield %>
			<div style="clear:both"></div>
    </div>


	 <div id="footer">
      <footer>
	      <ul>
	        <li>&copy;2010</li>
	        <li>Beatrice endorses <a href="http://uk.linkedin.com/in/jwranderson">Russ Anderson</a> for internet work</li>
	      </ul>

      </footer>
		</div>
  </div>
</body>

</html>
