<!DOCTYPE html>
<html>
<head>
  <title>Beatrice Curnew: Actor, voiceover artist, babe</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  <div id="everything">

    <nav>
      <div id="nav">
        <ul id="highlight_<%=@tab_highlight%>">
          <li id="home_tab"><%= link_to "home", "index" %></li>
          <li id="gallery_tab"><%= link_to "gallery", "gallery" %></li>
          <li id="news_tab"><%= link_to "news", "news" %></li>
          <li id="contact_tab"><%= link_to "contact", "contact" %></li>
        </ul>
      </div>
    </nav>
      


    <div id="main">

<%= yield %>




    </div>


    <footer>
  <div id="footer">
          <ul>
            <li>&copy;2010</li>
            <li>Website by <a href="http://uk.linkedin.com/in/jwranderson">Russ Anderson</a></li>
          </ul>
  </div>
    </footer>

  </div>

</body>

</html>
